<launch>
  <arg name="tb_model" default="burger" />
  <arg name="tb_pos_x" default="0.0"/>
  <arg name="tb_pos_y" default="0.0"/>
  <arg name="tb_pos_z" default="0.0"/>
  <arg name="tb_model_spawn_delay_s" default="0.5" />
  <arg name="centralized" default="1" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find terple_sim)/world/map.world" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
  </include>

  <param
    name="robot_description"
    command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg tb_model).urdf.xacro" />

  <rosparam>
    /terple/robot_description/r: 0.038
    /terple/robot_description/L: 0.354
    /terple/robot_description/ROBOT_RADIUS: 0.153
    /terple/space_description/CLEARANCE: 10
    /terple/space_description/BOARD_H: 10
    /terple/space_description/BOARD_W: 10
    /terple/space_description/BOARD_O: 30
    /terple/space_description/GRID_D: 25
  </rosparam>

<!--  <node-->
<!--    name="spawn_turtlebot_urdf"-->
<!--    pkg="gazebo_ros"-->
<!--    type="spawn_model"-->
<!--    args="-urdf -model turtlebot3_$(arg tb_model) -x $(arg tb_pos_x) -y $(arg tb_pos_y) -z $(arg tb_pos_z) -param robot_description"-->
<!--    output="screen"-->
<!--    launch-prefix="bash -c 'sleep $(arg tb_model_spawn_delay_s); $0 $@'" />-->
  <node
    name="centralized_planner"
    pkg="terple_planning"
    type="Planner_C.py"
    args="$(arg clearance)"
    output="screen"
    if="$(arg centralized)"/>

</launch>
